@media (max-width: 480px){


.todo h1{
    font-size: 15px;
}
.alert{
    font-size: 12px;
}
.input{
    width: 60%;
}
.li{
    font-size: 12px;
}
button{
    font-size: 10px;
}
}


@media (max-width: 480px){
    
    .todo h1{
        font-size: 12px;
    }
    .alert{
        font-size: 10px;
    }
    .input{
        width: 50%;
    }

.li{
    font-size: 10px;
}

}
